.banner{
    background-color: #15f639;
    color: #7c0d04;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0;
}

#small-shrek{
    height: 300px;
    width: 300px;
}
#logo-shrek{
    height: 300px;
    width: 550px;
}
#shrek{
    color: #7c0d04;
    font-size: 100px;
}